
body{

  width: 96%;
  margin-left: 3%;
  margin-right: 1%;

}
#main{

  height: 100%
}

nav{

 align-content: right; 

}


#nav>li{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
list-style-type: none;
display: inline;
margin: 1.5em;

}

div{

overflow : auto;
width: 100%;

}

#fPImage{

  width:97%;
  height:500px;

}


.col1-3, .col2-3, .col3-3{
  
  float:left;
  margin: 5px;

}

.col1-3{

background-image: url();
width: 20%;
height:400px;
}
 
.col2-3{

  width:40%;
  height:400px;
  margin:2px

}

.col3-3{
  background-image:url();
  width: 20%;
  height:400px;
}


#akanForm{

  margin: none;

}

#submit{

  float:right;
}

#imageSubmit{

background-image:url()

}