
body{

  width: 96%;
  margin-left: 3%;
  margin-right: 1%;

}
#main{

  height: 100%
}

nav{

 align-content: right; 

}


#nav>li{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
list-style-type: none;
display: inline;
margin: 1.5em;

}

div{

overflow : auto;
width: 100%;

}

#fPImage{
  
  background-image: url();
  width:97%;
  height:500px;
   
}


.col1-3, .col2-3, .col3-3{
  
  float:left;
  margin: 2px;

}

.col1-3{

background-image: url();
width: 20%;
height:600px;
}
 
.col2-3{

  width:50%;
  height:600px;
  

}

.col3-3{
  background-image:url();
  width: 20%;
  height:600px;
}


#akanForm{

  margin: none;

}

#day{

  float:right;

}



#btnSubmit{
 
  width :180px;
  height:50px;
  font-family: fantasy;
  float:right;
  
}
