
body{
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgba(255, 217, 0, 0.863);
  width: 96%;
  margin-left: 3%;
  margin-right: 1%;

}

#main{

  height: 100%
}

#links{

float: right; 
margin-left: 1%;
margin-right: 5%;
}


#nav>li{

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
list-style-type: none;
display: inline;
margin: 3.5em;

}

div{

overflow : auto;
width: 100%;

}

#akanAppSection{

  text-align: center;
}


#akanAppHeading{

text-align: left;

}


#kenteMeaning{

  text-align: center;
}


#fPImage{
  
  width:97%;
  height:420px;
   
}


.col1-3, .col2-3, .col3-3{
  
  float:left;
  margin: 2px;

}

.col1-3{


width: 20%;
height:560px;
}
 
.col2-3{

  width:50%;
  height:560px;
  

}

.col3-3{
  background-image:url();
  width: 20%;
  height:560px;
}


#akanForm{

  height:560px;
  margin: none;

}

#kenteFist{

width:100%;
height:280px;

}

#day{

  float:right;

}



#btnSubmit{
 
  width :180px;
  height:50px;
  font-family: fantasy;
  float:right;
  
}

#culturalExplorationSection{

width:70%;
margin-left:7%;
margin-right: 3%;
height:570px;

}